:root {
    --color-background: #EAF6F6;
    --color-sidebar: #062C30;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-dark-variant: #677483;
    --color-primary: #123456;
    --color-inactive: #7C99AC;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    font-size: 1rem;
    background: var(--color-background);
    overflow: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

a {
    color: var(--color-white);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text_muted {
    font-family: sans-serif;
    color: var(--color-info-dark);
}

.p {
    color: var(--color-dark-variant);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.container {
    display: grid;
    width: 100%;
    gap: 1.8rem;
    grid-template-columns: 17rem auto;
    padding-right: 3rem;
}

aside {
    height: 100vh;
    background: var(--color-sidebar);
}

aside .top {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

aside .logo {
    color: var(--color-white);
}

aside .logo h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 800;
}

aside .close {
    color: var(--color-white);
    display: none;
}

/*================= SIDEBAR ===============*/
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    color: var(--color-inactive);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 10rem;
    margin-left: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-white);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 7px;
    height: 100%;
    background: var(--color-white);
}

aside .sidebar a.active span {
    color: var(--color-white);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-white);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .notification {
  font-size: 15px;
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 5px;
  border-radius: 5px;
}

/*===================== MAIN =====================*/
main {
    margin-top: 1.5rem;
    margin-bottom: 20px;
}

main h2, h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--color-sidebar);
}

/* ==================== RECENT ORDERS ================================= */
main .recent_orders {
    margin-top: 2rem;
}

main .recent_orders h2 {
    margin-bottom: 0.8rem;
}

main .recent_orders table {}

main .recent_orders table {
    position: sticky;
    top: 0;
}

main .recent_orders {
    position: relative;
}



main .table-scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

main .recent_orders table {
    width: 100%;
}

main .recent_orders .table-scroll table:hover {
    box-shadow: none;
}

main table thead th {
    color: var(--color-sidebar);
    font-family: sans-serif;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    font-family: sans-serif;
}

main table tbody tr:last-child td {
    border: none;
}
